.dialogsContainer {
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding-right: 20px;
}

.backgroundImg {
  width: auto;
  height: 1000px;
  background: url("./../../images/dialogsBackgroundImg.png") 50% 50% no-repeat;
}
.dialogs a {
  color: white;
  text-decoration: none;
}
.dialogs a:hover {
  color: rgb(19, 218, 19);
}

.dialogsItem {
  padding: 10px 10px 0px;
  margin-top: 10px;
}

.messages .message {
  margin-top: 10px;
  padding: 10px 10px 0px;
  border: 1px solid grey;
  background-color: rgba(88, 36, 36, 0.685);
  border-radius: 10px;
}

.newMessage {
  padding: 10px;
}
